on early-boot
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 2097152
    write /proc/sys/net/core/wmem_max 2097152

on post-fs-data
    rm /data/logcat.txt

    # Create camera directory
    mkdir /data/camera 0770 media system

    # Create power directory
    mkdir /data/power 0771 system system

    # System LSI NFC
    chown nfc nfc /dev/sec-nfc
    chmod 0660 /dev/sec-nfc

on boot
    # Update cpusets now that processors are up
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/mems 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/background/mems 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/system-background/mems 0-1
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/mems 0-3

on fs
    # LCD
    chown system system /sys/class/lcd/panel/lux
    chown system media_rw /sys/class/lcd/panel/adaptive_control

    # Touchkeys
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset
    chown system radio /sys/class/sec/sec_touchkey/touchkey_earjack

    # Accelerometer sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_rev
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_name

    # BHY
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/event_shealth_int
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/pedometer_steps
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_cadence
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_cadence_enable
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_enable
    chown system radio  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_flush_cadence
    chmod 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/event_shealth_int
    chmod 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/pedometer_steps
    chown 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_cadence
    chmod 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_cadence_enable
    chmod 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_enable
    chmod 0660  /sys/devices/13870000.hsi2c/i2c-0/0-0028/iio:device0/shealth_flush_cadence

on property:sys.boot_completed=1
    write /proc/sys/vm/dirty_bytes 41943040
    write /proc/sys/vm/dirty_background_bytes 20971520

    # Set best cache size for internal and external storages
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
    write /sys/block/mmcblk1/bdi/read_ahead_kb 2048
