# SurfaceFlinger Sepolicy
# allow surfaceflinger debugfs:file { write open };

# /dev/s5p-smem
allow surfaceflinger secmem_device:chr_file { read write open};

